<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="log4j"/>
	</settings>
	<typeAliases>
		<typeAlias alias="asdto" type="com.doksusa.a_sub.A_subDTO"/>
		<typeAlias alias="asdto" type="com.doksusa.a_wrongnote.A_wrongnoteDTO"/>
		<typeAlias alias="apdto" type="com.doksusa.aptitude.AptitudeDTO"/>
		<typeAlias alias="codto" type="com.doksusa.comment.CommentDTO"/>
		<typeAlias alias="cmdto" type="com.doksusa.community.CommunityDTO"/>
		<typeAlias alias="asdto" type="com.doksusa.e_sub.E_subDTO"/>
		<typeAlias alias="asdto" type="com.doksusa.e_wrongnote.E_wrongnoteDTO"/>
		<typeAlias alias="examdto" type="com.doksusa.exam.ExamDTO"/>
		<typeAlias alias="foredto" type="com.doksusa.foreword.ForewordDTO"/>
		<typeAlias alias="ipsidto" type="com.doksusa.ipsiinfo.IpsiInfoDTO"/>
		<typeAlias alias="userdto" type="com.doksusa.user.UserDTO"/>
	</typeAliases>
</configuration>