@CHARSET "UTF-8";
body,p {
	background-color: lightgray;
	margin: 50px;
	padding: 0;
	text-align: center;
}
aside{
	width:15%;
	height:70%;
	float:left;
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}
.btn{
	margin-top: 10px;
}
iframe{
	border: 0px;
}
.i{
	border-right: solid 1px black; 
}
div#here {
	height:100%;
    padding: 10px;
    color: black;
    background-color: white;
}
div#footer {
    color: white;
}