@CHARSET "UTF-8";
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #797979;
}
.button1:hover {
    background-color: #797979;
    color: white;
}
body,p {
   margin: 50px;
   padding: 0;
   text-align: center;
}
aside{
   width:15%;
   height:70%;
   float:left;
   text-align: left;
   margin-left: 10px;
   margin-top: 10px;
}
iframe{
   border: 0px;
}
.i{
   border-right: solid 1px black; 
}
#here {
    padding: 10px;
    color: black;
    background-color: #f2f2f2;
}
.logo{
	 position:fixed;
}
#ipsi{
   width: 200px;
   height: 200px;
   padding: 30px;
}
h1{
   padding-bottom: 30px;
   font-weight: bold;
   font-family: myFirstFont;
   color:#00004f;
}
@font-face {
   font-family: myFirstFont;
   src: url("../font/NEXON Football Gothic B.otf");
}
@font-face {
   font-family: mySecondFont;
   src: url("../font/DX하루B.ttf");
}
h3{
   font-family: mySecondFont;
    color:#00004f;
}
textarea{
	border: solid 2px #525252;
}
.btn-info{
	color: #00004f;
}
.table{
	background-color: white;
}
.table th,td{
	text-align: center;
	border-right: solid 1px white;
	font-family: myFirstFont;
}