<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doksusa.user">

	<select id="user_selectAll" resultType="userdto">
		select * from users</select>
	<select id="user_selectById" resultType="userdto" parameterType="string">
		select * from users where u_id=#{u_id}</select>
	<insert id="user_insert" parameterType="userdto">
		insert into users (u_num,u_id,u_pw,u_nick) values (#{u_num},#{u_id},#{u_pw},#{u_nick})</insert>
	<update id="user_update" parameterType="String">
		update users set u_pw=#{u_pw},u_nick=#{u_nick} where u_pw=#{u_pw}</update>
	<delete id="user_delete" parameterType="string">
		delete from users where u_id=#{u_id}</delete>
	<select id="user_login" resultType="userdto" parameterType="map">
		select * from users where u_id=#{u_id} and  u_pw=#{u_pw}</select>

</mapper>